{% extends 'base.html' %}

{% block content %}
 
 <!-- search form -->
    <form class="navbar-form navbar-right" action="." method="get">
        <input id="search_box" name="search_box" type="text" placeholder="Search..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
    </form>

    <h1>All Pastores</h1>
    {% for pastor in Pastores %}
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{ pastor.get_members_count }}</span>
            <h4><a href="{{ pastor.get_band_detail_url }}">{{ pastor.name }}</a></h4>
            {% if pastor.can_rock %}
                <p>This band can rock!</p>
            {% endif %}
          </li>
        </ul>

   
{% endblock content %}

